<%- include('../includes/admin/head.ejs') %>

                <div class="row">
                    <div class="col-xl-3 col-lg-6 col-md-6 col-sm-6">
                        <div class="all-cards flex-card up-cards ">
                            <div class="metric-icon">
                                <i class="fas fa-user"></i>
                            </div>
                            <div class="metrics">
                                <p class="hedear-card">costumers</p>
                                <p class="number-card">12,321</p>
                                <span>total users</span>
                            </div>
                            <div class="metric-growth growth-pink">
                                <span>+6,8%</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-3 col-lg-6 col-md-6 col-sm-6">
                        <div class="all-cards flex-card up-cards">
                            <div class="metric-icon">
                                <i class="fas fa-chart-line"></i> </div>
                            <div class="metrics">
                                <p class="hedear-card">average sale</p>
                                <p class="number-card">$12,103</p>
                                <span>250 new orders</span>
                            </div>
                            <div class="metric-growth growth-pink">
                                <span>+10,5%</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-3 col-lg-6 col-md-6 col-sm-6">
                        <div class="all-cards flex-card up-cards">
                            <div class="metric-icon">
                                <i class="fas fa-shopping-cart"></i> </div>
                            <div class="metrics">
                                <p class="hedear-card">average order</p>
                                <p class="number-card">2550</p>
                                <span>total users</span>
                            </div>
                            <div class="metric-growth growth-pink">
                                <span>+6,8%</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-3 col-lg-6 col-md-6 col-sm-6">
                        <div class="all-cards flex-card up-cards">
                            <div class="metric-icon ">
                                <i class="fas fa-hand-point-up"></i> </div>
                            <div class="metrics">
                                <p class="hedear-card">daily visitor</p>
                                <p class="number-card">13,321</p>
                                <span>new users</span>
                            </div>
                            <div class="metric-growth growth-pink">
                                <span>+10,5%</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-8">
                        <div class="all-cards">
                            <div class="chart">
                                <div class="about-chart">
                                    <div class="info-chart">
                                        <h5>Recent one-week out sale</h5>
                                        <h4>$30,935.01</h4>
                                        <span> <i class="fas fa-arrow-up"></i> $15,505.01</span>
                                    </div>
                                    <div class="option-chart">
                                        <select name="" id="">
                                            <option value="">last week</option>
                                            <option value="">last week</option>
                                            <option value="">last week</option>
                                            <option value="">last week</option>
                                            <option value="">last week</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="all-cards todays-orders">
                            <div class="flex-card">
                                <div>
                                    <h3>today orders</h3>
                                </div>
                                <div>
                                    <i class="fas fa-ellipsis-h"></i>
                                </div>
                            </div>
                            <div>
                                <div class="flex-card">
                                    <div class="img-position">
                                        <img src="/img/order-1.jpg" alt="">
                                    </div>
                                    <div class="text-position">
                                        <p>esther howard
                                            <span class="d-block">esther howard</span>
                                        </p>
                                    </div>
                                    <div>
                                        <span class="growth-pink">$205</span>
                                    </div>
                                </div>
                                <div class="flex-card">
                                    <div class="img-position">
                                        <img src="/img/order-2.jpg" alt="">
                                    </div>
                                    <div class="text-position">
                                        <p>cameron williamson
                                            <span class="d-block">cameron williamson</span>
                                        </p>
                                    </div>
                                    <div>
                                        <span class="growth-pink">$100</span>
                                    </div>
                                </div>
                                <div class="flex-card">
                                    <div class="img-position">
                                        <img src="/img/order-1.jpg" alt="">
                                    </div>
                                    <div class="text-position">
                                        <p>lislie alexander
                                            <span class="d-block">lislie alexander</span>
                                        </p>
                                    </div>
                                    <div>
                                        <span class="growth-pink">$215</span>
                                    </div>
                                </div>
                                <div class="flex-card">
                                    <div class="img-position">
                                        <img src="/img/order-2.jpg" alt="">
                                    </div>
                                    <div class="text-position">
                                        <p>savanah nguyen
                                            <span class="d-block">savanah nguyen</span>
                                        </p>
                                    </div>
                                    <div>
                                        <span class="growth-pink">$300</span>
                                    </div>
                                </div>
                                <div class="flex-card">
                                    <div class="img-position">
                                        <img src="/img/order-1.jpg" alt="">
                                    </div>
                                    <div class="text-position">
                                        <p>darline robertson
                                            <span class="d-block">darline robertson</span>
                                        </p>
                                    </div>
                                    <div>
                                        <span class="growth-pink">$125</span>
                                    </div>
                                </div>
                                <div class="flex-card">
                                    <div class="img-position">
                                        <img src="/img/order-2.jpg" alt="">
                                    </div>
                                    <div class="text-position">
                                        <p>marvine mcKinney
                                            <span class="d-block">marvine mcKinney</span>
                                        </p>
                                    </div>
                                    <div>
                                        <span class="growth-pink">$262</span>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                    <div class="col-lg-8">
                        <div class="all-cards p-3 top-orders">
                            <h3>last top orders</h3>
                            <div class="table-responsive">
                                <table class="table">
                                    <thead>
                                    <tbody>
                                        <tr class="table-hedear">
                                            <td>nickname</td>
                                            <td>date</td>
                                            <td>amount</td>
                                            <td>recieved</td>
                                        </tr>
                                        <tr>
                                            <td class="d-inline">
                                                <img class="d-inline-block img-fluid" src="../img/avatar-1.png" alt="">
                                                <p class="ps-2 d-inline-block">savana nguyin</p>
                                            </td>
                                            <td>
                                                <p>15/09/21</p>
                                            </td>
                                            <td>
                                                <p>$345</p>
                                            </td>
                                            <td>
                                                <p class="growth-pink">complet</p>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="d-inline">
                                                <img class="d-inline-block img-fluid" src="../img/avatar-1.png" alt="">
                                                <p class="ps-2 d-inline-block">savana nguyin</p>
                                            </td>
                                            <td>
                                                <p>15/09/21</p>
                                            </td>
                                            <td>
                                                <p>$345</p>
                                            </td>
                                            <td>
                                                <p class="growth-bleu ">pending</p>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="d-inline">
                                                <img class="d-inline-block" src="../img/avatar-1.png" alt="">
                                                <p class="ps-2 d-inline-block">savana nguyin</p>
                                            </td>
                                            <td>
                                                <p>15/09/21</p>
                                            </td>
                                            <td>
                                                <p>$345</p>
                                            </td>
                                            <td>
                                                <p class="growth-bleu ">pending</p>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="d-inline">
                                                <img class="d-inline-block" src="../img/avatar-1.png" alt="">
                                                <p class="ps-2 d-inline-block">savana nguyin</p>
                                            </td>
                                            <td>
                                                <p>15/09/21</p>
                                            </td>
                                            <td>
                                                <p>$345</p>
                                            </td>
                                            <td>
                                                <p class="growth-pink">complet</p>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="d-inline">
                                                <img class="d-inline-block img-fluid" src="../img/avatar-1.png" alt="">
                                                <p class="ps-2 d-inline-block">savana nguyin</p>
                                            </td>
                                            <td>
                                                <p>15/09/21</p>
                                            </td>
                                            <td>
                                                <p>$345</p>
                                            </td>
                                            <td>
                                                <p class="growth-pink">complet</p>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="all-cards monthly-orders">
                            <div class="monthly-hedear">
                                <h3>monthly orders</h3>
                                <i class="fas fa-sliders-h"></i>
                            </div>
                            <div class="circle-chart"></div>
                            <div class="sales">
                                <div class="d-inline">
                                    <span class="d-inline-block">
                                        <div class="d-inline-block blue-color"></div> online sales
                                    </span>
                                    <p>$3,540</p>
                                </div>
                                <div class="d-inline">
                                    <span class="d-inline-block">
                                        <div class="d-inline-block pink-color"></div> offline sales
                                    </span>
                                    <p>$2,640</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>