<section class="page-header p-4 pt-5">
    <div class="container-fluid">
        <div class="row backgound ">
            <div class="col">
                <h1 class="fs-2"><%= pageTitle %></h1>
            </div>
            <div class="col text-end">
                <p class="cg"><a class="cg-h cgreen" href="/">home</a> / <%= pageTitle %></p>
            </div>
        </div>
    </div>
</section>