<section class="sponsors">
    <div class="container text-center">
        <h2 class="pt-5 pb-4">Sponsors</h2>
        <div class="row">
            <div class="col-md-12">
                <div class="sponsor-img">
                    <img class="img-fluid" src="img/sponsor-html.png" alt="">
                    <img class="img-fluid" src="img/sponsor-css-3.png" alt="">
                    <img class="img-fluid" src="img/sponsor-javascript.png" alt="">
                    <img class="img-fluid" src="img/sponsor-bootstrap.png" alt="">
                </div>
            </div>
        </div>
    </div>
</section>