<div id="side-bar">
    <div class="logo hide-on-mobile ">
        <img class="img-fluid" width="100px" src="../img/halashoplogo_03.png" alt="">
    </div>
    <div class="icon-img hide-on-desktop">
        <img class="img-fluid" src="/img/halashop-icon.png" alt="">
    </div>
    <ul>
        <li><a href="/admin"><i class="fas fa-tachometer-alt"></i> <span
                    class="hide-on-mobile nav-list">dashboard</span></a></li>
        <li><a href="/admin/products"><i class="fas fa-cube"></i> <span class="hide-on-mobile nav-list">product</span></a>
        </li>
        <li><a href="/admin/costumer"><i class="fas fa-briefcase"></i><span
                    class="hide-on-mobile nav-list">customers</span></a></li>
        <li><a href="/admin/revenue"><i class="fas fa-chart-bar"></i><span
                    class="hide-on-mobile nav-list">revenue</span></a></li>
        <li><a href="/admin/settings"><i class="fas fa-cog"></i><span class="hide-on-mobile nav-list">settings</span></a>
        </li>
    </ul>
    <div class="update hide-on-mobile">
        <img height="70px" src="../img/rocket-ship-rocket-svgrepo-com.svg" alt="">
        <h4>discover pro</h4>
        <p>new feature &services </p>
        <button>upgrade now</button>
    </div>
    <div class="logout">
        <ul>
            <a href=""><i class="fas fa-upload"></i><span class="hide-on-mobile">logout</span></li></a>
        </ul>
    </div>
</div>