<%- include('../includes/home-header.ejs') %>
</head>

<body>
  <%- include('../includes/navPages.ejs') %>
        <section class="page-header p-5 pt-5">
          <div class="container-fluid">
            <div class="row backgound ">
              <div class="col">
                <h1 class="fs-2">shopping card</h1>
              </div>
              <div class="col text-end">
                <p class="cg"><a class="cg-h cgreen" href="index.html">home</a> / shopping card</p>
              </div>
            </div>
          </div>
        </section>


        <!--shopping card-->

        <section class="shopping-card">
          <div class="container">
            <div class="row">
              <p>You currently have 3 item(s) in your cart.</p>
              <div class="col-xl-9 col-lg-12  col-sm-12">
                <div class="table-responsive">
                  <table class="table caption-top">
                    <tbody>
                      <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                      </tr>
                      <tr>
                        <td class="fs-6 fw-bold">product</td>
                        <td class="fs-6 fw-bold">Unit price</td>
                        <td class="fs-6 fw-bold">quantity</td>
                        <td class="fs-6 fw-bold">Discount</td>
                        <td class="fs-6 fw-bold">Total</td>
                        <td></td>
                      </tr>
                      <tr>
                        <td>
                          <img class="img-fluid" src="../img/p1.jpg" alt="">
                          <a class="cgreen" href="">white rose armani</a>
                        </td>
                        <td>
                          <input type="number">
                        </td>
                        <td>$123.00</td>
                        <td>$0</td>
                        <td>$246.00</td>
                        <td>
                          <i class="cgreen fas fa-trash-alt"></i>
                        </td>
                      </tr>
                      <tr>
                        <td>
                          <img class="img-fluid" src="../img/p2.jpg" alt="">
                          <a class="cgreen" href="productDetails.html">white rose armani</a>
                        </td>
                        <td>
                          <input type="number">
                        </td>
                        <td>$200.00</td>
                        <td>$0</td>
                        <td>$200.00</td>
                        <td>
                          <i class="cgreen fas fa-trash-alt"></i>
                        </td>
                      </tr>
                      <tr>
                        <td class="cg fs-5 fw-bold">
                          total
                        </td>
                        <td>
                        </td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td class="cg fs-5 fw-bold">
                          $446.00
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>

                <div class="container basket">
                  <div class="row p-5">
                    <div class="col-md-12 col-lg-6">
                      <div class="btn-gray">
                        <a href=""><i class="fas fa-chevron-left"></i> back to basket</a>
                      </div>
                    </div>
                    <div class="col-md-12 col-lg-6 ">
                      <div class="btn-gray">
                        <a href=""><i class="fas fa-sync"></i> update card</a>
                      </div>
                      <div class="btn-left btn-green">
                        <a href="">proceed to checkout <i class="fas fa-chevron-right"></i></a>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="container ">
                  <div class="row may-like">
                    <div class="col-lg-3 col-md-12 max-h">
                      <hr>
                      <h3>you may also like this product</h3>
                      <hr>
                    </div>
                    <div class="col-lg-3 col-md-12">
                      <div class="img-scale">
                        <img class="img-fluid" src="/img/product-4.jpeg" alt="">
                      </div>
                      <div class="text-center ">
                        <a href="">fur coat</a>
                        <p>$143.00</p>
                      </div>
                      <hr>
                    </div>
                    <div class="col-lg-3 col-md-12">
                      <div class="img-scale">
                        <img class="img-fluid" src="/img/product-2.jpeg" alt="">
                      </div>
                      <div class="text-center">
                        <a href="">fur coat</a>
                        <p>$143.00</p>
                      </div>
                      <hr>
                    </div>
                    <div class=" col-lg-3 col-md-12">
                      <div class="img-scale">
                        <img class="img-fluid" src="/img/product-3.jpeg" alt="">
                      </div>
                      <div class="text-center">
                        <a href="">fur coat</a>
                        <p>$143.00</p>
                      </div>
                      <hr>
                    </div>
                  </div>
                </div>
              </div>

              <div class="col-xl-3 col-lg-12 col-sm-12">
                <div class="container-md order-s">
                  <div class="title-c p-4">
                    <h3 class="fs-4">order summary</h3>
                  </div>
                  <div class="back-c p-4">
                    <div class="row">
                      <p class="fs-5 fw-light cg">Shipping and additional costs are calculated based on the
                        values you have entered.</p>
                      <hr>
                    </div>
                    <div class="row">
                      <div class="col">
                        <p class="cg fs-6 cap">order subtotal</p>
                      </div>
                      <div class="col">
                        <p>$446.00</p>
                      </div>
                    </div>
                    <hr>
                    <div class="row">
                      <div class="col">
                        <p class="cg fs-6 cap">Shipping and handling</p>
                      </div>
                      <div class="col">
                        <p>$10.00</p>
                      </div>
                    </div>
                    <hr>
                    <div class="row">
                      <div class="col">
                        <p class="cg fs-6 cap">Tax</p>
                      </div>
                      <div class="col">
                        <p>$0.00</p>
                      </div>
                    </div>
                    <hr>
                    <div class="row">
                      <div class="col">
                        <p class="cg fs-6 fw-bold cap">total</p>
                      </div>
                      <div class="col">
                        <p class="fw-bold">$456.00</p>
                      </div>
                    </div>
                    <hr>
                  </div>

                </div>
                <div class="container-md order-s pt-5 pb-5">
                  <div class="title-c p-4">
                    <h3 class="fs-4"> code coupon</h3>
                  </div>
                  <div class="back-c p-4">
                    <p class="cg">If you have a coupon code, please enter it in the box below.</p>
                  </div>
                  <div class="back-c p-4">
                    <div class=" size">
                      <input class="" type="text">

                      <button class=""><i class="fas fa-gift"></i></button>

                    </div>
                  </div>
                </div>
              </div>
            </div>

          </div>

        </section>

  <%- include('../includes/sponsors.ejs') %>
  <%- include('../includes/footer.ejs') %>