<%- include('../includes/home-header.ejs') %>
</head>

<body>
    <header class="homepage">
        <%- include('../includes/page-nav.ejs') %>
    </header>

    <!--hedear page-->
    <%- include('../includes/page-header.ejs') %>

    <!--full category-->

    <section class=" pt-5 full-c">
        <div class="container text-center">
            <p class="pb-3 cg fw-light">In our Ladies department we offer wide selection of the best products we have
                found and carefully selected
                worldwide. Pellentesque habitant morbi tristique senectus et netuss.</p>

            <div class="row">
                <div class="col-md-3">
                    <div class="img-scale">
                        <a href="productDetails.html"><img class="img-fluid" src="/img/product-1.jpeg" alt=""></a>
                    </div>
                    <div class="h-height">
                        <h4 class="fs-5 pt-3">FUR COAT WITH VERY BUT VERY VERY LONG NAME</h4>
                    </div>
                    <p class="fw-light">$143.00</p>
                    <hr>
                </div>
                <div class="col-md-3">
                    <div class="img-scale">
                        <a href="productDetails.html"><img class="img-fluid" src="/img/product-2.jpeg" alt=""></a>
                    </div>
                    <div class="h-height">
                        <h4 class="fs-5 pt-3">WHITE BLOUSE ARMANI</h4>
                    </div>
                    <p class="fw-light"> <span>$200.00 </span>$143.00</p>
                    <hr>
                </div>
                <div class="col-md-3">
                    <div class="img-scale">
                        <a href="productDetails.html"><img class="img-fluid" src="/img/product-3.jpeg" alt=""></a>
                    </div>
                    <div class="h-height">
                        <h4 class="fs-5 pt-3">WHITE BLOUSE ARMANI</h4>
                    </div>
                    <p class="fw-light">$143.00</p>
                    <hr>
                </div>
                <div class="col-md-3">
                    <div class="img-scale">
                        <a href="productDetails.html"><img class="img-fluid" src="/img/product-4.jpeg" alt=""></a>
                    </div>
                    <div class="h-height">
                        <h4 class="fs-5 pt-3">BLACK BLOUSE VERSACE</h4>
                    </div>
                    <p>$143.00</p>
                    <hr>
                </div>
            </div>
            <div class="row">
                <div class="col-md-3">
                    <div class="img-scale">
                        <a href="productDetails.html"><img class="img-fluid" src="/img/product-4.jpeg" alt=""></a>
                    </div>
                    <div class="h-height">
                        <h4 class="fs-5 pt-3">FUR COAT WITH VERY BUT VERY VERY LONG NAME</h4>
                    </div>
                    <p class="fw-light">$143.00</p>
                    <hr>
                </div>
                <div class="col-md-3">
                    <div class="img-scale">
                        <a href="productDetails.html"><img class="img-fluid" src="/img/product-3.jpeg" alt=""></a>
                    </div>
                    <div class="h-height">
                        <h4 class="fs-5 pt-3">WHITE BLOUSE ARMANI</h4>
                    </div>
                    <p class="fw-light"> <span>$200.00 </span>$143.00</p>
                    <hr>
                </div>
                <div class="col-md-3">
                    <div class="img-scale">
                        <a href="productDetails.html"><img class="img-fluid" src="/img/product-2.jpeg" alt=""></a>
                    </div>
                    <div class="h-height">
                        <h4 class="fs-5 pt-3">BLACK BLOUSE VERSACE</h4>
                    </div>
                    <p class="fw-light">$143.00</p>
                    <hr>
                </div>
                <div class="col-md-3">
                    <div class="img-scale">
                        <a href="productDetails.html"><img class="img-fluid" src="/img/product-1.jpeg" alt=""></a>
                    </div>
                    <div class="h-height">
                        <h4 class="fs-5 pt-3">BLACK BLOUSE VERSACE</h4>
                    </div>
                    <p class="fw-light">$143.00</p>
                    <hr>
                </div>
            </div>
        </div>

        </div>
    </section>

    <!--banner-->

    <section class="r-banner text-center p-3">
        <img class="img-fluid" src="img/banner2.532e45d1.jpg">
    </section>

    <!--load-->

    <section class="load p-3">
        <div class="container text-center">
            <div class="row">
                <div class="col-sm-12 pb-5">
                    <a class="a-load" href=""> <i class="fas fa-chevron-down"></i> load more</a>
                </div>

                <div class="col-sm-12 pagination-a pb-5">
                    <a href=""><i class="fas fa-chevron-left"></i></a>
                    <a href="">1</a>
                    <a href="">2</a>
                    <a href="">3</a>
                    <a href="">4</a>
                    <a href="">5</a>
                    <a href=""><i class="fas fa-chevron-right"></i></a>
                </div>
            </div>
        </div>
    </section>

    <%- include('../includes/footer.ejs') %>